<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="header.component.css">
</head>
<header>
  <div class="logo">
    <a href="index.html">Notilogia</a>
  </div>
  <nav>
    <ul>
        <li><a href="">Noticias</a></li>
        <li><a href="">Reseñas</a></li>
        <li><a href="">Tutoriales</a></li>
        <li><a href="">Desarrollo</a></li>
        <li><a href="">Eventos</a></li>
        <li><a href="">Comunidad</a></li>
    </ul>
  </nav>
  <div class="Buscador">
    <input type="text">
    <button type="submit">Buscar</button>
  </div>
  <div class="user">
    <a href="">Iniciar Sesión</a> | <a href="">Registrarse</a>
  </div>
</header>
</html>

