<link rel="stylesheet" href="lista-tareas.component.css">
<section class="task-list">
  <h2>Todas las Tareas</h2>
  <div class="task">
      <h3>Completar Proyecto</h3>
      <p>Fecha de Vencimiento: 2024-02-28</p>
      <p>Prioridad: Alta</p>
  </div>
  <div class="task">
    <h3>Completar Proyecto</h3>
    <p>Fecha de Vencimiento: 2024-02-28</p>
    <p>Prioridad: Alta</p>
</div>
<div class="task">
  <h3>Completar Proyecto</h3>
  <p>Fecha de Vencimiento: 2024-02-28</p>
  <p>Prioridad: Alta</p>
</div>
</section>

